.mainbox {
background-color: white;
width: auto;
height: auto;
padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
border: 1px solid white;
margin-top: 20px;
margin-bottom: 20px;
font-family: 'Roboto', sans-serif;
color: grey;
}

.scndbox {
width: 90%;
height: auto;
padding-left: 30px;
}

.line {
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
}

.purple {
    color: purple;
}
